# Importing the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
qualtrics_data = pd.read_csv("SurveyData.csv")
logging_data = pd.read_csv("LoggingData.csv")

# Quick data analysis

In [3]:
qualtrics_users = qualtrics_data["Please enter your Mturk ID.  (We need this to pay you accordingly)"].unique()
logging_users = logging_data["mTurk ID"].unique()

not_in_log = [user for user in qualtrics_users if user not in logging_users]
not_in_qualt = [user for user in logging_users if user not in qualtrics_users]

In [4]:
not_in_qualt

[]

In [5]:
not_in_log

[]

# Fixing the data

In [6]:
qualtrics_data = qualtrics_data.set_index("Please enter your Mturk ID.  (We need this to pay you accordingly)")
qualtrics_data = qualtrics_data.drop(not_in_log, axis=0).reset_index()

In [7]:
qualtrics_data

,Please enter your Mturk ID. (We need this to pay you accordingly),Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,...,Select your gender (You may skip this question if you do not wish to answer),Select your highest attained education level (You may skip this question if you do not wish to answer),Timing - First Click,Timing - Last Click,Timing - Page Submit,Timing - Click Count,RandomID,hidePrev,userID,Create New Field or Choose From Dropdown...
0,A1ROEDVMTO9Y3X,6/11/2019 19:30,10/11/2019 12:32,IP Address,67.8.193.168,100,320525,True,10/11/2019 12:32,R_332t7SbrnIe02NV,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,500970,0,A1ROEDVMTO9Y3X,NaN
1,A2ESE3IBTNAEB7,10/11/2019 15:54,10/11/2019 16:18,IP Address,173.215.15.44,100,1467,True,10/11/2019 16:18,R_1Nq9sQE3mJMn78I,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,132056,0,A2ESE3IBTNAEB7,NaN
2,A30KYQGABO7JER,9/11/2019 23:59,10/11/2019 1:23,IP Address,67.21.32.80,100,5083,True,10/11/2019 1:23,R_1GH989iefoCEdMj,...,Female,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,718358,0,A30KYQGABO7JER,NaN
3,A2R9OK4M877ZCC,10/11/2019 17:50,10/11/2019 18:42,IP Address,66.170.205.17,100,3083,True,10/11/2019 18:42,R_3oG7EYTWbBw0PZu,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,283031,0,A2R9OK4M877ZCC,NaN
4,A1V2H0UF94ATWY,10/11/2019 12:04,10/11/2019 12:49,IP Address,73.236.40.189,100,2713,True,10/11/2019 12:49,R_1Oy8cI4B6quPY8h,...,Male,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,111129,0,A1V2H0UF94ATWY,NaN
5,A1YFVXP4A1CXSF,10/11/2019 12:27,10/11/2019 13:54,IP Address,172.58.78.183,100,5244,True,10/11/2019 13:54,R_3nHF3yjRe6e8kjm,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,787164,0,A1YFVXP4A1CXSF,NaN
6,A36Z98LFRR041Q,10/11/2019 9:48,10/11/2019 10:34,IP Address,208.126.51.247,100,2762,True,10/11/2019 10:34,R_2U4bmf0iO6tR9zg,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,857148,0,A36Z98LFRR041Q,NaN
7,A3PDHDQZZKCTT5,10/11/2019 20:02,10/11/2019 20:41,IP Address,99.164.34.236,100,2376,True,10/11/2019 20:41,R_3n0dDOIU3Xn2HG6,...,Female,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,733346,0,A3PDHDQZZKCTT5,NaN
8,A5X1KZ9CCHREK,10/11/2019 5:16,10/11/2019 5:57,IP Address,122.3.232.202,100,2448,True,10/11/2019 5:57,R_11hLl3wqVNR5ppC,...,Male,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,104883,0,A5X1KZ9CCHREK,NaN
9,AJ7MWBQFNH3E4,10/11/2019 6:48,10/11/2019 8:19,IP Address,69.125.97.156,100,5413,True,10/11/2019 8:19,R_1C0ZlTAQcz6B9Bf,...,Female,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,632639,0,AJ7MWBQFNH3E4,NaN
10,A16SAB417Y96G4,11/11/2019 17:01,11/11/2019 18:10,IP Address,67.177.247.141,100,4103,True,11/11/2019 18:10,R_2ypdWTmbed4ZoNj,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,122266,0,A16SAB417Y96G4,NaN
11,A22A52DRIIEV6K,11/11/2019 12:35,11/11/2019 14:12,IP Address,104.236.55.136,100,5775,True,11/11/2019 14:12,R_24pmAyNdWhHSP9L,...,Female,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,958695,0,A22A52DRIIEV6K,NaN
12,A2E3TO92MCQ9XU,11/11/2019 17:41,11/11/2019 18:00,IP Address,50.46.135.248,100,1101,True,11/11/2019 18:00,R_sSw5SNYOmWMjqlX,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,906100,0,A2E3TO92MCQ9XU,NaN
13,A2EKR2ZFO10VMV,11/11/2019 14:50,11/11/2019 15:10,IP Address,108.66.4.224,100,1186,True,11/11/2019 15:10,R_3luEZdS4iN5QRCz,...,Female,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,599056,0,A2EKR2ZFO10VMV,NaN
14,A2J9U65SKT4TJW,11/11/2019 13:47,11/11/2019 14:20,IP Address,69.244.173.44,100,1969,True,11/11/2019 14:20,R_2EmikmLgPBLs27U,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,749275,0,A2J9U65SKT4TJW,NaN
15,A2Z70GL7HTFFQR,11/11/2019 9:48,11/11/2019 10:33,IP Address,104.131.19.173,100,2700,True,11/11/2019 10:33,R_3el9yyAV9h0fDF5,...,Male,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,344917,0,A2Z70GL7HTFFQR,NaN
16,A2ZJAEL03VTZ8,11/11/2019 9:11,11/11/2019 10:23,IP Address,192.67.88.14,100,4304,True,11/11/2019 10:23,R_2bPlO8fsTZxtjqh,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,393505,0,A2ZJAEL03VTZ8,NaN
17,A3NMQ3019X6YE0,11/11/2019 16:35,11/11/2019 16:59,IP Address,192.209.17.137,100,1447,True,11/11/2019 16:59,R_3MaPq23mIMXtdC3,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,354291,0,A3NMQ3019X6YE0,NaN
18,A6WXIKRYMXNIN,11/11/2019 14:32,11/11/2019 15:09,IP Address,73.26.61.159,100,2234,True,11/11/2019 15:09,R_1GBtdSiA5Me7JPb,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,188118,0,A6WXIKRYMXNIN,NaN
19,A160HFSRDNT91E,12/11/2019 4:41,12/11/2019 5:02,IP Address,92.38.148.53,100,1252,True,12/11/2019 5:02,R_3iPAaH5ZR9tzlTk,...,Male,Masterâ€™s Degree or higher,NaN,NaN,NaN,NaN,176878,0,A160HFSRDNT91E,NaN
20,A1Q68M0X4YXHKH,12/11/2019 10:22,12/11/2019 10:48,IP Address,162.155.193.105,94,1586,False,13/11/2019 12:28,R_2uqEXFFbQSh4s5m,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,956499,0,A1Q68M0X4YXHKH,NaN
21,A1VXDD6BFF97OF,12/11/2019 6:42,12/11/2019 7:26,IP Address,73.187.88.148,100,2676,True,12/11/2019 7:26,R_2X1gTOJLNhz59rT,...,Female,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,766764,0,A1VXDD6BFF97OF,NaN
22,A219Y0MX694TM2,12/11/2019 11:40,12/11/2019 12:01,IP Address,73.221.29.39,100,1287,True,12/11/2019 12:01,R_3HUeH6sCS0Py2fP,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,284882,0,A219Y0MX694TM2,NaN
23,A23K7MLCDZPV0D,12/11/2019 8:33,12/11/2019 10:11,IP Address,107.77.228.67,100,5859,True,12/11/2019 10:11,R_3is55pVcFYDJwVk,...,Female,Masterâ€™s Degree or higher,NaN,NaN,NaN,NaN,572498,0,A23K7MLCDZPV0D,NaN
24,A2KHMKJUVDMK1N,12/11/2019 12:25,12/11/2019 12:43,IP Address,108.12.238.177,100,1098,True,12/11/2019 12:43,R_1odtHfAM1gKx07D,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,612407,0,A2KHMKJUVDMK1N,NaN
25,A31XT6RPLN6359,12/11/2019 5:14,12/11/2019 6:10,IP Address,73.230.7.68,100,3338,True,12/11/2019 6:10,R_xl5Eaq3MtynAnrH,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,200282,0,A31XT6RPLN6359,NaN
26,A3IMB1JAMHP1KK,12/11/2019 4:42,12/11/2019 5:09,IP Address,73.230.55.35,100,1632,True,12/11/2019 5:09,R_1oBbzgHRyEIC396,...,Male,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,599874,0,A3IMB1JAMHP1KK,NaN
27,A3L0DCUXI7X3A9,12/11/2019 5:24,12/11/2019 6:02,IP Address,73.194.199.39,100,2281,True,12/11/2019 6:02,R_3n3eYfbupnde9qQ,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,847762,0,A3L0DCUXI7X3A9,NaN
28,A1AF25FCVKC87X,12/11/2019 15:56,12/11/2019 16:17,IP Address,24.253.16.20,100,1265,True,12/11/2019 16:17,R_cvZhkibQXpNVoS5,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,245637,0,A1AF25FCVKC87X,NaN
29,A9ZCY6FLUCIU1,12/11/2019 17:45,12/11/2019 18:18,IP Address,67.254.210.204,100,1976,True,12/11/2019 18:18,R_ezK1ucchtTxe6Ah,...,Female,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,135260,0,A9ZCY6FLUCIU1,NaN
30,A1SNC8UL8YFRH5,12/11/2019 18:31,12/11/2019 18:57,IP Address,108.51.169.16,100,1587,True,12/11/2019 18:57,R_1JXcplUSyYJFM1w,...,Male,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,927465,0,A1SNC8UL8YFRH5,NaN
31,A3TPW4JUUJDUFI,12/11/2019 20:35,12/11/2019 21:27,IP Address,50.239.137.75,100,3111,True,12/11/2019 21:27,R_2zBcLrH2d7ui7Zk,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,866435,0,A3TPW4JUUJDUFI,NaN
32,A17LF7GCAFYMSL,13/11/2019 2:12,13/11/2019 3:43,IP Address,73.19.77.184,100,5477,True,13/11/2019 3:43,R_bjSJ6CjNUa7IcN3,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,964019,0,A17LF7GCAFYMSL,NaN
33,A1L07RXTK5X5MG,13/11/2019 6:24,13/11/2019 7:34,IP Address,45.4.197.224,100,4220,True,13/11/2019 7:34,R_RPiAziFdo2EtNUR,...,Female,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,958397,0,A1L07RXTK5X5MG,NaN
34,A1YX741QQSMKPS,12/11/2019 12:36,12/11/2019 13:50,IP Address,108.253.190.88,100,4453,True,12/11/2019 13:50,R_1FledX1oGlwmKR9,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,780839,0,A1YX741QQSMKPS,NaN
35,A39GADIK8RLMVC,12/11/2019 12:04,12/11/2019 12:39,IP Address,174.242.73.160,100,2071,True,12/11/2019 12:39,R_3kcPMtrCnL4o5rk,...,Male,Bachelorâ€™s Degree,NaN,NaN,NaN,NaN,228563,0,A39GADIK8RLMVC,NaN
36,A3BXT78QXFC6F3,12/11/2019 11:57,12/11/2019 12:28,IP Address,35.136.254.105,94,1880,False,13/11/2019 12:52,R_W0Zqa8ie33NtquJ,...,Female,High School graduate (Diploma or equivalent),NaN,NaN,NaN,NaN,586092,0,A3BXT78QXFC6F3,NaN

# Transforming the data

In [8]:
columns = list(qualtrics_data.columns)
important_cols = []

columns[0] = "Mturk_ID"
important_cols.append(columns[0])

nb_trials = 8
questions_per_trial = 6
trial_1_code_id = 28

curr_trial = 1
for i in range(nb_trials):
    start_id = trial_1_code_id + ((curr_trial - 1) * questions_per_trial)
    
    columns[start_id] = '{}_trial--code'.format(curr_trial)
    columns[start_id + 1] = 'guidance_{}'.format(curr_trial)
    columns[start_id + 2] = 'recover_{}'.format(curr_trial)
    columns[start_id + 3] = 'quick_{}'.format(curr_trial)
    columns[start_id + 4] = 'confusion_{}'.format(curr_trial)
    columns[start_id + 5] = 'thinking_{}'.format(curr_trial)
    
    for y in range(questions_per_trial):
        important_cols.append(columns[start_id + y])
    
    curr_trial += 1
    
columns[columns.index(
    'Would you agree or disagree that - Interface A feels faster to use than Interface B'
)] = "a_faster_than_b"
important_cols.append("a_faster_than_b")

columns[columns.index(
    'Would you agree or disagree that - Interface B is easier to use than Interface A'
)] = "b_easier_than_a"
important_cols.append("b_easier_than_a")

columns[columns.index(
    'Would you agree or disagree that - For the same list of options, you prefer viewing fewer options at once with more scrolling than\n\nviewing more options at once with less scrolling?'
)] = "more_scrolling_than_more_options"
important_cols.append("more_scrolling_than_more_options")

columns[columns.index(
    'Would you agree or disagree that - Interface A is clearer than interface B'
)] = "a_clearer_than_b"
important_cols.append("a_clearer_than_b")

columns[columns.index(
    'Would you agree or disagree that - Interface A is more confusing than interface B'
)] = "a_more_confusing_than_b"
important_cols.append("a_more_confusing_than_b")

columns[columns.index(
    'Do you prefer interface A or B?'
)] = "prefer_a_or_b"
important_cols.append("prefer_a_or_b")


qualtrics_data.columns = columns

## Numericalizing the agree-disagree statements

In [9]:
def numericalize(string):
    diction = {
        "Strongly Agree": 2,
        "Strongly agree": 2,
        "Agree": 1,
        "Neither agree nor disagree": 0,
        "Disagree": -1,
        "Strongly Disagree": -2,
        "Strongly disagree": -2,
    }
    
    return diction[string] if string in diction.keys() else string

qualtrics_import = qualtrics_data[important_cols].applymap(numericalize)

## Create distinct tables for joining

In [10]:
transposed = qualtrics_import.T
transposed["index"] = transposed.index

question_tables = []

for i in range(1, nb_trials + 1):
    question_tables.append(
        transposed[
            transposed["index"].isin([
                "Mturk_ID".format(i), 
                "{}_trial--code".format(i),
                "guidance_{}".format(i),
                "recover_{}".format(i),
                "quick_{}".format(i),
                "confusion_{}".format(i),
                "thinking_{}".format(i),
            ])
        ].T
    )

## Join the tables

In [11]:
logging_data["task nb"] = logging_data["task id"].apply(lambda x: x[0])

In [12]:
cols = list(logging_data.columns)
cols[1] = "Mturk_ID"
logging_data.columns = cols

In [13]:
final_df = None

for group, data in logging_data.groupby(["Mturk_ID", "task nb"]):
    qns_all = question_tables[int(group[1]) - 1]
    qns_user = qns_all[qns_all["Mturk_ID"] == group[0]]
    
    merged = pd.merge(data, qns_user, on="Mturk_ID")
    cols = list(merged.columns)
    cols[-1] = "thinking"
    cols[-2] = "confusion"
    cols[-3] = "quick"
    cols[-4] = "recover"
    cols[-5] = "guidance"
    cols[-6] = "trial_code"
    merged.columns = cols
    
    final_df = pd.concat([final_df, merged]) if final_df is not None else merged

In [14]:
final_df = final_df.reset_index()

In [15]:
uniform_cols = list(qualtrics_import.columns)[-6:]
uniform_cols.append("Mturk_ID")

with_final_questions = pd.merge(final_df, qualtrics_import[uniform_cols], on="Mturk_ID")

## Multiply by -1 for inversed questions

In [16]:
inversed_cols = [
    'recover',
    'confusion',
    'b_easier_than_a',
    'a_more_confusing_than_b',
]

with_final_questions[inversed_cols] = with_final_questions[inversed_cols] * -1

# Export results

In [17]:
with_final_questions.to_csv("transfromed_data.csv")

In [18]:
transformed = pd.read_csv("transfromed_data.csv")
assert len(logging_data) == len(transformed), "Lengths don't match!"